h1{
    text-align: center;
    background-color: bisque;

}


.p1{
    text-align: center;
    background-color: aquamarine;
    font-size: large;
}

.p2{
    text-align: center;
    background-color: bisque;
}

.p3{
    background-color: blanchedalmond;
}
.p4{
    background-color: blanchedalmond;
}

.info{
    text-align: center;
}

.wanted{
    text-align: center;
}

